/***** Font Weights *****/
@light: 300;
@regular: 400;
@semi-bold: 600;
@bold: 700;
@extra-bold: 800;

/***** Bootstrap screen sizes ****/
@xs-max: 767px;
@sm-min: 768px;
@sm-max: 991px;
@md-min: 992px;
@md-max: 1199px;
@lg-min: 1200px;

/***** Colors Variables  ****/

@mainPurple: #ed2584;
@mainBlue: #38c3f2;
@mainYellow: #fdc011;
@mainBlack: black;
@mainGrey: #333333;
@mainDarkBlue: #223f67;
@mainBodyBg: #f0f1f4;
@mainBlackText: black;
@placeholderColor: #7a7a7a;

@thumbnailHeaderBg: #f9f9f9;
@thumbnailDisableTextColor: #afafaf;
@thumbnailNotPartTextColor: #a3a3a3;

@tableBorderColor: #e6e6e6;

@onlineColor: #28b25f;
@offlineColor: #b22828;

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 150px;
  /* Margin bottom by footer height */
  margin-bottom: 285px;
  background-color: @mainBodyBg;

  a {
    cursor: pointer;
    text-decoration: none;
    &:hover {
      //text-decoration: none;
    }
  }
  @media (max-width: @xs-max) {
    margin-bottom: 617px;
  }
}

/***** HEADER menu ******/

header {

  font-size: 16px;
  font-weight: @semi-bold;
  font-family: 'Open Sans', sans-serif;
  .top-line {
    position: fixed;
    z-index: 10001;
    top: 0;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: @mainBodyBg;
    .container {
      .lang-flags {
        a {
          margin-left: 8px;
        }
      }
      .top-line-links {
        padding-top: 2px;
        a {
          margin-right: 20px;
          font-size: 13px;
          color: @mainBlackText;
        }
      }
    }
  }
  .main-logo {
    width: 60%;
  }
  .log-in-btn {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    padding: 7px 18px;
    margin-left: 12px;
  }

  .telephone-hours {
    .telephone-hours-link {
      padding: 45px 0 23px 15px !important;
      .tel-icon {
        height: 35px;
        width: 35px;
        background-image: url('../img/icon_tel.png');
        display: inline-block;
        margin-top: 7px;
        vertical-align: middle;
      }
      .tel-number {
        white-space: nowrap;
        font-size: 16px;
        line-height: 24px;
        font-weight: @semi-bold;
        margin-left: 13px;
      }
      .open-hours {
        font-size: 14px;
        line-height: 20px;
        font-weight: @light;
        margin-left: 13px;
      }
    }
  }
  .phone-nav {
    @media (max-width: @sm-max) {
      display: none;
    }
  }
  .small-phone-nav .telephone-hours {
    .telephone-hours-link {
      padding: 10px 0 !important;
    }
    @media (min-width: @sm-min) {
      display: none;
    }
  }
}

/******* Overload Bootstrap  ****/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: @mainPurple;
  background-color: white;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: shade(@mainDarkBlue, 15%);
}

.navbar-default .navbar-nav > li > a {
  color: @mainDarkBlue;
}

.navbar-default {
  background-color: white;
  border: none;
  padding-top: 40px;
}

.navbar-nav {
  & > li > a {
    padding: 56px 12px 34px;
  }
  .navbar-btn {
    margin-top: 47px;
    margin-bottom: 25px;
    margin-left: 12px;
  }
  @media (max-width: @xs-max) {
    padding-left: 15px;
    &.small-phone-nav {
      float: left !important;
    }

    & > li > a {
      padding: 10px 12px 10px 0;
    }

    .navbar-btn {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 0;
    }
  }
}

.btn-primary {
  color: #fff;
  background-color: @mainDarkBlue;
  border: none;
  &:hover {
    background-color: shade(@mainDarkBlue, 15%);
  }
}

.btn-secondary {
  font-size: 16px;
  line-height: 24px;
  font-weight: @bold;
  color: white;
  background-color: @mainPurple;
  border-radius: 5px;
  &:hover {
    background-color: shade(@mainPurple, 15%);
    color: white;
  }
}

.navbar-default .navbar-toggle {
  //padding: 10px;
  border: none;
  margin: 49px 15px 27px 0;
  .icon-bar {
    background-color: @mainDarkBlue;
    height: 4px;
    width: 26px;
    border-radius: 2px;
  }
  .icon-bar + .icon-bar {
    margin-top: 5px;
  }
  &:hover, &:focus {
    background-color: transparent;
    .icon-bar {
      background-color: shade(@mainDarkBlue, 15%);
    }
  }
}

@media (min-width: @lg-min) {
  .container {
    width: 1008px;
  }
}

/**** Overload Bootstrap END  ****/

/***** HEADER menu END **/

/*******************************************************
******************* LANDING PAGE ***********************
********************************************************/

/***** BANNER TOP  ******/
.banner-main-top-section {
  background-image: url('../img/banner-top-bg.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  .title {
    font-size: 56px;
    text-shadow: 0 1px 1px @mainDarkBlue;
    margin-top: 47px;
    @media (max-width: @xs-max) {
      font-size: 36px;
      line-height: 40px;
    }
  }
  .subtitle {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 29px;
    line-height: 48px;
    text-shadow: 0 1px 1px @mainDarkBlue;
    @media (max-width: @xs-max) {
      font-size: 22px;
      line-height: 35px;
    }
  }
  .form-banner-register {
    font-family: 'Open Sans', sans-serif;
    padding: 0 60px 235px;
    .register-form-input {
      font-size: 16px;
      line-height: 24px;
      padding: 18px 20px;
      height: auto;
      border: none;
      border-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      &::-webkit-input-placeholder {
        color: @placeholderColor;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: @placeholderColor;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: @placeholderColor;
      }
      &:-ms-input-placeholder {
        color: @placeholderColor;
      }
    }
    .btn-secondary {
      padding: 18px 20px;
      border: none;
      @media (max-width: 370px) {
        font-size: 13px;
        padding: 14px 15px;
      }
    }
    @media (max-width: @sm-max) {
      padding-bottom: 160px;
    }
    @media (max-width: 620px) {
      .register-form-input {
        border-radius: 5px;
      }

      .input-group-btn {
        position: absolute;
        width: 100%;
        top: 150%;
        .btn-secondary {
          margin: auto;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
        }
      }
    }
  }
}

/***** BANNER TOP  END **/

/***** COUNTER *******/

.counter-section {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  padding-bottom: 50 + 60px;
  .number-of {
    font-size: 80px;
    color: @mainPurple;
    line-height: 48px;
    font-weight: @bold;
    padding-top: 62px;
  }
  .numer-type {
    font-size: 25px;
    line-height: 38px;
    color: @mainBlackText;
  }
}

/***** COUNTER END **/

/***** VIDEO PLAYER  ******/
.video-player-section {
  position: relative;
  margin-top: -60px;
  margin-bottom: 40px;

  .video-player {
    z-index: 150;
    max-height: 506px;
    padding: 0 60px;
    height: 50vw;
    @media (max-width: @sm-max) {
      max-height: 360px;
    }
  }
}

/***** VIDEO PLAYER END **/

/***** REFERENCE **/
.reference-section {
  font-family: 'Open Sans', sans-serif;
  color: @mainDarkBlue;
  padding-bottom: 60px;
  .reference {
    padding-left: 35px;
    padding-right: 35px;
    .reference-title {
      font-size: 25px;
      line-height: 45px;
    }
    .logo {
      height: 100px;
      position: relative;
      text-align: left;
      a {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
      }
      @media (max-width: @xs-max) {
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
    .loga-referenci-bottom {
      text-align: center;
      @media (min-width: @md-min) {
        .logo {
          max-width: 252px;
          display: inline-block;
          float: none;
          margin-right: -4px;
        }
      }
    }
  }
  @media (max-width: @xs-max) {
    padding-bottom: 10px;
  }
}

/***** REFERENCE END **/

/*******************************************************
***************** LANDING PAGE END *********************
********************************************************/

/*******************************************************
******************* CONTACT PAGE ***********************
********************************************************/

.contact-page {
  background: white;

  /**** MAIN BANER ****/
  &.banner-main-top-section {
    background-image: url("../img/banner-top-bg-free.png");
    .banner-main-top .row {
      margin-left: 0;
      margin-right: 0;

      .title {
        margin-top: 47px;
        margin-bottom: 42px;
        text-align: left;
      }
    }
  }
  /**** MAIN BANNER END ****/

  /**** TILES ****/

  &.tiles-section {
    padding-top: 53px;
    .tiles-container {
      .tile {
        max-width: 307px;
        margin: auto;
        text-align: center;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 5%) inset, 0 4px 6px 0 rgba(0, 0, 0, 10%);
        .icon-container {
          width: 100%;
          height: 120px;
          .tile-icon {
            display: block;
            margin: auto;
          }
        }
        .tile-title {
          font-size: 36px;
          line-height: 38px;
          color: @mainDarkBlue;
        }
        a {
          font-size: 16px;
          line-height: 30px;
          color: @mainBlackText;
          display: block;
          text-decoration: underline;
          &:hover {
            color: @onlineColor;
          }
        }
        .online-sign {
          font-size: 14px;
          line-height: 28px;
          color: @onlineColor;
          padding-bottom: 10px;
          .dot-sign {
            margin-right: 5px;
            display: inline-block;
            width: 10px;
            height: 10px;
            background: @onlineColor;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
          }
        }
        &.offline {
          a:hover {
            color: @offlineColor;
          }
          .online-sign {
            color: @offlineColor;
            .dot-sign {
              background: @offlineColor;
            }
          }
        }
      }
    }
  }
  /**** TILES END ****/

  /**** INFO ****/
  .contact-information {
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    .info-par {
      font-size: 16px;
      line-height: 36px;
      color: @mainBlackText;
      padding-bottom: 30px;
      .info-title {
        white-space: nowrap;
        color: @mainDarkBlue;
        font-size: 36px;
        line-height: 28px;
        margin-bottom: 30px;
        @media (max-width: @xs-max) {
          white-space: normal;
        }
      }
      .avail-time {
        font-weight: @bold;
        color: @mainPurple;
      }
      .strong {
        font-weight: @bold;
      }
      .italic {
        font-style: italic;
      }
      .qr-code {
        display: block;
        height: 127px;
        width: 127px;
        margin-top: 25px;
        background-image: url('../img/qr.png');
      }
      a {
        color: @mainPurple;
        text-decoration: underline;
        &:hover {
          color: shade(@mainPurple, 15%);
        }
      }
    }
  }
  /**** INFO END ****/

}

/**** MAP ****/

.map-section {
  position: relative;
  .map {
    width: 100%;
    height: 565px;
    background-color: @mainBodyBg;
  }
  .map-sign {
    position: absolute;
    left: 30vw;
    z-index: 1;
    background: @mainPurple;
    width: 305px;
    padding: 30px;
    .map-title {
      font-weight: @bold;
      color: #631b3d;
      font-size: 24px;
      line-height: 35px;
    }
    .phone {
      font-weight: @bold;
      font-size: 16px;
      line-height: 48px;
      color: #631b3d;
    }
    a {
      font-weight: @bold;
      text-decoration: underline;
      line-height: 36px;
      color: white;
      &:hover {
        color: shade(white, 15%);
      }
    }
  }
  @media (max-width: @xs-max) {
    .map {
      height: 850px;
    }

    .map-sign {
      top: 460px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%)
    }
  }
}

/**** MAP END ****/

/*******************************************************
******************* CONTACT PAGE END *******************
********************************************************/

/*******************************************************
******************** PRICE PAGE ************************
********************************************************/

.price-page {
  background: white;
  font-family: 'Open Sans', sans-serif;
  /**** MAIN BANER ****/
  &.banner-main-top-section {
    background-image: url("../img/banner-top-bg-free.png");
    .banner-main-top .row {
      margin-left: 0;
      margin-right: 0;

      .title {
        margin-top: 47px;
        margin-bottom: 42px;
        text-align: left;
      }
    }
  }
  /**** MAIN BANNER END ****/

  /**** FORM RADIO ****/

  &.radio-section {
    .radio {
      margin-top: 70px;
      margin-bottom: 70px;

      .label-radio {
        font-weight: @semi-bold;
        line-height: 26px;
        color: @mainDarkBlue;
        padding-right: 30px;
      }
      .radio-inline {
        line-height: 26px;
        font-size: 16px;
        color: @mainDarkBlue;
        font-weight: @light;
        padding-top: 0;
      }
      .discount-base {
        font-size: 14px;
        line-height: 26px;
        background: @mainPurple;
        color: white;
        display: inline-block;
        height: 26px;
        margin-left: 22px;
        font-weight: @semi-bold;
        position: relative;
        width: 100px;
      }
      .discount-base:before {
        border-right: 14px solid @mainPurple;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        content: "";
        height: 0;
        top: 0;
        position: absolute;
        left: -14px;
        width: 0;
      }
    }
  }
  /**** FORM RADIO END ****/

  /**** THUMBNAIL ****/
  &.thumbnail-section {
    .thumbnail-row {
      margin-right: -6px;
      margin-left: -6px;
      .thumbnail-card {
        padding-right: 6px;
        padding-left: 6px;
        .thumbnail {
          border: none;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 9%);

          .caption {
            padding: 15px;

            .header {
              position: relative;
              margin: -19px -19px 25px -19px;
              padding: 16px 20px;
              background-color: @thumbnailHeaderBg;
              color: @mainDarkBlue;
              font-size: 26px;
            }
            .standart-price {
              color: @thumbnailDisableTextColor;
              font-size: 20px;
              margin-bottom: 10px;
            }
            .year-price {
              font-size: 26px;
              color: @mainDarkBlue;
              line-height: 20px;
              margin-bottom: 20px;
              .sub-year-price {
                font-size: 18px;
              }
            }
            .btn-thumbnail {
              font-weight: @bold;
              font-size: 14px;
              line-height: 24px;
              padding: 7px 20px;
            }
            .parts {
              margin-top: 25px;
              margin-bottom: 30px;
              .part {
                font-size: 15px;
                line-height: 32px;
                font-weight: @light;
                font-style: normal;
                white-space: nowrap;
                .part-icon {
                  vertical-align: middle;
                  margin-right: 7px;
                  margin-left: -5px;
                }
                &.is-part {
                  color: @mainDarkBlue;
                  .part-icon {
                    color: @onlineColor;
                  }
                }
                &.not-part {
                  color: @thumbnailNotPartTextColor;
                  .part-icon {
                    color: @thumbnailDisableTextColor;
                    font-weight: @extra-bold;
                  }
                }
              }
            }
          }
          .img-thumbnail-pawn {
            display: none;
            position: absolute;
            bottom: 15px;
            right: 2px;
          }
        }
        &.active {
          .thumbnail {
            .caption {
              .header {
                background-color: @mainYellow;
                color: white;
              }
              .year-price {
                color: @mainPurple;
              }
              .btn-thumbnail {
                background-color: @mainPurple;
                &:hover {
                  background-color: shade(@mainPurple, 15%);
                }
              }
            }
            .img-thumbnail-pawn {
              display: block;
            }
          }
        }
      }
    }
  }
  /**** THUMBNAIL END ****/

  /**** DETAILS ****/
  &.detail-section {
    .btn-details {
      font-size: 14px;
      line-height: 24px;

      .arrow {
        width: 13px;
        height: 13px;
        display: inline-block;
        position: relative;
        bottom: -5px;
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease;
        margin-top: 2px;
        text-align: left;
        float: right;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        left: 0;
        margin-left: 10px;
        &:before, &:after {
          content: "";
          -webkit-transition: 0.4s ease;
          transition: 0.4s ease;
          background-color: transparent;
          width: 3px;
          height: 10px;
          display: inline-block;
          position: absolute;
          border-bottom: 10px solid white;
          top: 0;
          left: 0;
          -webkit-transform: rotate(0);
          transform: rotate(0);
        }
        &:before {
          -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
        }
        &:after {
          -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
          top: 0px;
          left: 5px;
          position: absolute;
        }
      }
      &.active .arrow {
        -webkit-transform: rotate(0);
        transform: rotate(0);
      }
      &.active .arrow:before {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &.active .arrow:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

    }
    .table {
      margin-bottom: 0;
      td, th {
        padding: 17px 0 14px 0;
        color: @mainDarkBlue;
      }
      td {
        border-color: @tableBorderColor;
        font-weight: @light;
        font-size: 16px;
        line-height: 24px;
        padding: 17px 0 14px 0;
      }
      tr:last-child {
        border-bottom: solid 1px @tableBorderColor;
      }
      &.main-table {
        th {
          font-size: 24px;
          font-family: bariol_regularregular;
          color: @mainDarkBlue;
          border-bottom: none;
        }
        tr:nth-of-type(1) td {
          border-top: none;
        }
      }
      &.secondary-table {
        thead>tr>th {
          cursor: pointer;
          border-bottom: none;
          font-weight: @semi-bold;
        }
      }
    }
  }
  /**** DETAILS END ****/
}

/*******************************************************
****************** PRICE PAGE END **********************
********************************************************/

/***** FOOTER  *****/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 285px;
  background-color: white;
  padding-top: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

  .footer-title-list {
    color: @mainDarkBlue;
    line-height: 48px;
    font-weight: @semi-bold;
    @media (max-width: @xs-max) {
      line-height: 32px;
    }
  }
  .footer-list-element {
    color: @mainBlackText;
    line-height: 38px;
    font-weight: @light;
    @media (max-width: @xs-max) {
      line-height: 28px;
    }
  }
  .facebook-link {
    display: block;
    padding-top: 86px;
    .facebook-cubic-icon {
      background-image: url("../img/facebook-sq.png");
      height: 36px;
      width: 36px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 25px;
    }
    @media (max-width: @xs-max) {
      text-align: center !important;
      padding-top: 0;
    }
  }

  .bottom-line {
    border-top: 1px @mainBodyBg solid;
    font-size: 13px;
    line-height: 48px;
    color: #7a7a7a;
    font-weight: @light;
    margin-top: 24px;
  }
  @media (max-width: @sm-max) {
    font-size: 12px !important;
  }
  @media (max-width: @xs-max) {
    .footer-list {
      text-align: center;
      &:not(:first-child) {
        padding-top: 30px;
      }
    }
  }
}

/***** FOOTER END **/

/***** Classes special  ****/
.vertical-centered-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-block {
  float: right;
}

.left-block {
  float: left;
}

.full-width {
  width: 100%;
}

.font-bariol {
  font-family: 'bariol_regularregular';
}


/*** MODALS ***/

.modal-dialog
{
  border-radius: 5px;
  @media (min-width: 768px)
  {
    width: 700px;
    margin: 80px auto;
  }

  @media (max-width: 767px)
  {
    position: relative;
    width: auto;
    margin: 60px;
  }
  .modal-header, .modal-footer
  {
    border: none;
  }

}

.modal
{
  div.modal-body
  {
    padding: 0px 20px 20px 20px;
    margin-bottom: 50px;

    input
    {
      font-size: 16px;
      line-height: 24px;
      padding: 18px 20px 18px 50px;
      height: auto;
      border-radius: 5px;
      &::-webkit-input-placeholder {
        color: @placeholderColor;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: @placeholderColor;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: @placeholderColor;
      }
      &:-ms-input-placeholder {
        color: @placeholderColor;
      }
    }

    input[type=submit]
    {
      padding-left: 20px;
      width: 100%;
      margin-top: 20px;
    }

    p
    {
      text-align: center;
      a
      {
        color: @mainGrey;
      }
      a:focus
      {
        color:@mainBlack;
        text-decoration: underline;
      }
    }

    .err-msg
    {
      color: @offlineColor;
      .fa
      {
        color: @offlineColor;
        font-size: 14px;
      }
    }

    }


  .fa
  {
    font-size: 24px;
    margin: 8px;
    color: @placeholderColor;
    z-index: 20000;
  }

  .fa-lock
  {
    padding-left: 15px;
  }
}

#registerModal
{
  input[type=submit]
  {
    margin-top: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
  input
  {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
/* enable absolute positioning */
.inner-addon {
  position: relative;
  margin-top: 13px;

  h1
  {
    margin-bottom: 40px;
    text-align: center;
  }
}

/* style glyph */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
/*** MODALS ***/

.form-control:focus
{
  border-color: @mainDarkBlue;
  outline: 0;

  box-shadow: none;
  -webkit-box-shadow: none;
}
