/***** Font Weights *****/
/***** Bootstrap screen sizes ****/
/***** Colors Variables  ****/
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 150px;
  /* Margin bottom by footer height */
  margin-bottom: 285px;
  background-color: #f0f1f4;
}
body a {
  cursor: pointer;
  text-decoration: none;
}
@media (max-width: 767px) {
  body {
    margin-bottom: 617px;
  }
}
/***** HEADER menu ******/
header {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
header .top-line {
  position: fixed;
  z-index: 10001;
  top: 0;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #f0f1f4;
}
header .top-line .container .lang-flags a {
  margin-left: 8px;
}
header .top-line .container .top-line-links {
  padding-top: 2px;
}
header .top-line .container .top-line-links a {
  margin-right: 20px;
  font-size: 13px;
  color: black;
}
header .main-logo {
  width: 60%;
}
header .log-in-btn {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  padding: 7px 18px;
  margin-left: 12px;
}
header .telephone-hours .telephone-hours-link {
  padding: 45px 0 23px 15px !important;
}
header .telephone-hours .telephone-hours-link .tel-icon {
  height: 35px;
  width: 35px;
  background-image: url('../img/icon_tel.png');
  display: inline-block;
  margin-top: 7px;
  vertical-align: middle;
}
header .telephone-hours .telephone-hours-link .tel-number {
  white-space: nowrap;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-left: 13px;
}
header .telephone-hours .telephone-hours-link .open-hours {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  margin-left: 13px;
}
@media (max-width: 991px) {
  header .phone-nav {
    display: none;
  }
}
header .small-phone-nav .telephone-hours .telephone-hours-link {
  padding: 10px 0 !important;
}
@media (min-width: 768px) {
  header .small-phone-nav .telephone-hours {
    display: none;
  }
}
/******* Overload Bootstrap  ****/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #ed2584;
  background-color: white;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #1d3658;
}
.navbar-default .navbar-nav > li > a {
  color: #223f67;
}
.navbar-default {
  background-color: white;
  border: none;
  padding-top: 40px;
}
.navbar-nav > li > a {
  padding: 56px 12px 34px;
}
.navbar-nav .navbar-btn {
  margin-top: 47px;
  margin-bottom: 25px;
  margin-left: 12px;
}
@media (max-width: 767px) {
  .navbar-nav {
    padding-left: 15px;
  }
  .navbar-nav.small-phone-nav {
    float: left !important;
  }
  .navbar-nav > li > a {
    padding: 10px 12px 10px 0;
  }
  .navbar-nav .navbar-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
  }
}
.btn-primary {
  color: #fff;
  background-color: #223f67;
  border: none;
}
.btn-primary:hover {
  background-color: #1d3658;
}
.btn-secondary {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: white;
  background-color: #ed2584;
  border-radius: 5px;
}
.btn-secondary:hover {
  background-color: #c91f70;
  color: white;
}
.navbar-default .navbar-toggle {
  border: none;
  margin: 49px 15px 27px 0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #223f67;
  height: 4px;
  width: 26px;
  border-radius: 2px;
}
.navbar-default .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #1d3658;
}
@media (min-width: 1200px) {
  .container {
    width: 1008px;
  }
}
/**** Overload Bootstrap END  ****/
/***** HEADER menu END **/
/*******************************************************
******************* LANDING PAGE ***********************
********************************************************/
/***** BANNER TOP  ******/
.banner-main-top-section {
  background-image: url('../img/banner-top-bg.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.banner-main-top-section .title {
  font-size: 56px;
  text-shadow: 0 1px 1px #223f67;
  margin-top: 47px;
}
@media (max-width: 767px) {
  .banner-main-top-section .title {
    font-size: 36px;
    line-height: 40px;
  }
}
.banner-main-top-section .subtitle {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 29px;
  line-height: 48px;
  text-shadow: 0 1px 1px #223f67;
}
@media (max-width: 767px) {
  .banner-main-top-section .subtitle {
    font-size: 22px;
    line-height: 35px;
  }
}
.banner-main-top-section .form-banner-register {
  font-family: 'Open Sans', sans-serif;
  padding: 0 60px 235px;
}
.banner-main-top-section .form-banner-register .register-form-input {
  font-size: 16px;
  line-height: 24px;
  padding: 18px 20px;
  height: auto;
  border: none;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.banner-main-top-section .form-banner-register .register-form-input::-webkit-input-placeholder {
  color: #7a7a7a;
}
.banner-main-top-section .form-banner-register .register-form-input:-moz-placeholder {
  /* Firefox 18- */
  color: #7a7a7a;
}
.banner-main-top-section .form-banner-register .register-form-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #7a7a7a;
}
.banner-main-top-section .form-banner-register .register-form-input:-ms-input-placeholder {
  color: #7a7a7a;
}
.banner-main-top-section .form-banner-register .btn-secondary {
  padding: 18px 20px;
  border: none;
}
@media (max-width: 370px) {
  .banner-main-top-section .form-banner-register .btn-secondary {
    font-size: 13px;
    padding: 14px 15px;
  }
}
@media (max-width: 991px) {
  .banner-main-top-section .form-banner-register {
    padding-bottom: 160px;
  }
}
@media (max-width: 620px) {
  .banner-main-top-section .form-banner-register .register-form-input {
    border-radius: 5px;
  }
  .banner-main-top-section .form-banner-register .input-group-btn {
    position: absolute;
    width: 100%;
    top: 150%;
  }
  .banner-main-top-section .form-banner-register .input-group-btn .btn-secondary {
    margin: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}
/***** BANNER TOP  END **/
/***** COUNTER *******/
.counter-section {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  padding-bottom: 110px;
}
.counter-section .number-of {
  font-size: 80px;
  color: #ed2584;
  line-height: 48px;
  font-weight: 700;
  padding-top: 62px;
}
.counter-section .numer-type {
  font-size: 25px;
  line-height: 38px;
  color: black;
}
/***** COUNTER END **/
/***** VIDEO PLAYER  ******/
.video-player-section {
  position: relative;
  margin-top: -60px;
  margin-bottom: 40px;
}
.video-player-section .video-player {
  z-index: 150;
  max-height: 506px;
  padding: 0 60px;
  height: 50vw;
}
@media (max-width: 991px) {
  .video-player-section .video-player {
    max-height: 360px;
  }
}
/***** VIDEO PLAYER END **/
/***** REFERENCE **/
.reference-section {
  font-family: 'Open Sans', sans-serif;
  color: #223f67;
  padding-bottom: 60px;
}
.reference-section .reference {
  padding-left: 35px;
  padding-right: 35px;
}
.reference-section .reference .reference-title {
  font-size: 25px;
  line-height: 45px;
}
.reference-section .reference .logo {
  height: 100px;
  position: relative;
  text-align: left;
}
.reference-section .reference .logo a {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
@media (max-width: 767px) {
  .reference-section .reference .logo {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.reference-section .reference .loga-referenci-bottom {
  text-align: center;
}
@media (min-width: 992px) {
  .reference-section .reference .loga-referenci-bottom .logo {
    max-width: 252px;
    display: inline-block;
    float: none;
    margin-right: -4px;
  }
}
@media (max-width: 767px) {
  .reference-section {
    padding-bottom: 10px;
  }
}
/***** REFERENCE END **/
/*******************************************************
***************** LANDING PAGE END *********************
********************************************************/
/*******************************************************
******************* CONTACT PAGE ***********************
********************************************************/
.contact-page {
  background: white;
  /**** MAIN BANER ****/
  /**** MAIN BANNER END ****/
  /**** TILES ****/
  /**** TILES END ****/
  /**** INFO ****/
  /**** INFO END ****/
}
.contact-page.banner-main-top-section {
  background-image: url("../img/banner-top-bg-free.png");
}
.contact-page.banner-main-top-section .banner-main-top .row {
  margin-left: 0;
  margin-right: 0;
}
.contact-page.banner-main-top-section .banner-main-top .row .title {
  margin-top: 47px;
  margin-bottom: 42px;
  text-align: left;
}
.contact-page.tiles-section {
  padding-top: 53px;
}
.contact-page.tiles-section .tiles-container .tile {
  max-width: 307px;
  margin: auto;
  text-align: center;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05) inset, 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}
.contact-page.tiles-section .tiles-container .tile .icon-container {
  width: 100%;
  height: 120px;
}
.contact-page.tiles-section .tiles-container .tile .icon-container .tile-icon {
  display: block;
  margin: auto;
}
.contact-page.tiles-section .tiles-container .tile .tile-title {
  font-size: 36px;
  line-height: 38px;
  color: #223f67;
}
.contact-page.tiles-section .tiles-container .tile a {
  font-size: 16px;
  line-height: 30px;
  color: black;
  display: block;
  text-decoration: underline;
}
.contact-page.tiles-section .tiles-container .tile a:hover {
  color: #28b25f;
}
.contact-page.tiles-section .tiles-container .tile .online-sign {
  font-size: 14px;
  line-height: 28px;
  color: #28b25f;
  padding-bottom: 10px;
}
.contact-page.tiles-section .tiles-container .tile .online-sign .dot-sign {
  margin-right: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #28b25f;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.contact-page.tiles-section .tiles-container .tile.offline a:hover {
  color: #b22828;
}
.contact-page.tiles-section .tiles-container .tile.offline .online-sign {
  color: #b22828;
}
.contact-page.tiles-section .tiles-container .tile.offline .online-sign .dot-sign {
  background: #b22828;
}
.contact-page .contact-information {
  margin-top: 35px;
  font-family: 'Open Sans', sans-serif;
}
.contact-page .contact-information .info-par {
  font-size: 16px;
  line-height: 36px;
  color: black;
  padding-bottom: 30px;
}
.contact-page .contact-information .info-par .info-title {
  white-space: nowrap;
  color: #223f67;
  font-size: 36px;
  line-height: 28px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .contact-page .contact-information .info-par .info-title {
    white-space: normal;
  }
}
.contact-page .contact-information .info-par .avail-time {
  font-weight: 700;
  color: #ed2584;
}
.contact-page .contact-information .info-par .strong {
  font-weight: 700;
}
.contact-page .contact-information .info-par .italic {
  font-style: italic;
}
.contact-page .contact-information .info-par .qr-code {
  display: block;
  height: 127px;
  width: 127px;
  margin-top: 25px;
  background-image: url('../img/qr.png');
}
.contact-page .contact-information .info-par a {
  color: #ed2584;
  text-decoration: underline;
}
.contact-page .contact-information .info-par a:hover {
  color: #c91f70;
}
/**** MAP ****/
.map-section {
  position: relative;
}
.map-section .map {
  width: 100%;
  height: 565px;
  background-color: #f0f1f4;
}
.map-section .map-sign {
  position: absolute;
  left: 30vw;
  z-index: 1;
  background: #ed2584;
  width: 305px;
  padding: 30px;
}
.map-section .map-sign .map-title {
  font-weight: 700;
  color: #631b3d;
  font-size: 24px;
  line-height: 35px;
}
.map-section .map-sign .phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 48px;
  color: #631b3d;
}
.map-section .map-sign a {
  font-weight: 700;
  text-decoration: underline;
  line-height: 36px;
  color: white;
}
.map-section .map-sign a:hover {
  color: #d9d9d9;
}
@media (max-width: 767px) {
  .map-section .map {
    height: 850px;
  }
  .map-section .map-sign {
    top: 460px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
/**** MAP END ****/
/*******************************************************
******************* CONTACT PAGE END *******************
********************************************************/
/*******************************************************
******************** PRICE PAGE ************************
********************************************************/
.price-page {
  background: white;
  font-family: 'Open Sans', sans-serif;
  /**** MAIN BANER ****/
  /**** MAIN BANNER END ****/
  /**** FORM RADIO ****/
  /**** FORM RADIO END ****/
  /**** THUMBNAIL ****/
  /**** THUMBNAIL END ****/
  /**** DETAILS ****/
  /**** DETAILS END ****/
}
.price-page.banner-main-top-section {
  background-image: url("../img/banner-top-bg-free.png");
}
.price-page.banner-main-top-section .banner-main-top .row {
  margin-left: 0;
  margin-right: 0;
}
.price-page.banner-main-top-section .banner-main-top .row .title {
  margin-top: 47px;
  margin-bottom: 42px;
  text-align: left;
}
.price-page.radio-section .radio {
  margin-top: 70px;
  margin-bottom: 70px;
}
.price-page.radio-section .radio .label-radio {
  font-weight: 600;
  line-height: 26px;
  color: #223f67;
  padding-right: 30px;
}
.price-page.radio-section .radio .radio-inline {
  line-height: 26px;
  font-size: 16px;
  color: #223f67;
  font-weight: 300;
  padding-top: 0;
}
.price-page.radio-section .radio .discount-base {
  font-size: 14px;
  line-height: 26px;
  background: #ed2584;
  color: white;
  display: inline-block;
  height: 26px;
  margin-left: 22px;
  font-weight: 600;
  position: relative;
  width: 100px;
}
.price-page.radio-section .radio .discount-base:before {
  border-right: 14px solid #ed2584;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  content: "";
  height: 0;
  top: 0;
  position: absolute;
  left: -14px;
  width: 0;
}
.price-page.thumbnail-section .thumbnail-row {
  margin-right: -6px;
  margin-left: -6px;
}
.price-page.thumbnail-section .thumbnail-row .thumbnail-card {
  padding-right: 6px;
  padding-left: 6px;
}
.price-page.thumbnail-section .thumbnail-row .thumbnail-card .thumbnail {
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
}
.price-page.thumbnail-section .thumbnail-row .thumbnail-card .thumbnail .caption {
  padding: 15px;
}
.price-page.thumbnail-section .thumbnail-row .thumbnail-card .thumbnail .caption .header {
  position: relative;
  margin: -19px -19px 25px -19px;
  padding: 16px 20px;
  background-color: #f9f9f9;
  color: #223f67;
  font-size: 26px;
}
.price-page.thumbnail-section .thumbnail-row .thumbnail-card .thumbnail .caption .standart-price {
  color: #afafaf;
  font-size: 20px;
  margin-bottom: 10px;
}
.price-page.thumbnail-section .thumbnail-row .thumbnail-card .thumbnail .caption .year-price {
  font-size: 26px;
  color: #223f67;
  line-height: 20px;
  margin-bottom: 20px;
}
.price-page.thumbnail-section .thumbnail-row .thumbnail-card .thumbnail .caption .year-price .sub-year-price {
  font-size: 18px;
}
.price-page.thumbnail-section .thumbnail-row .thumbnail-card .thumbnail .caption .btn-thumbnail {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  padding: 7px 20px;
}
.price-page.thumbnail-section .thumbnail-row .thumbnail-card .thumbnail .caption .parts {
  margin-top: 25px;
  margin-bottom: 30px;
}
.price-page.thumbnail-section .thumbnail-row .thumbnail-card .thumbnail .caption .parts .part {
  font-size: 15px;
  line-height: 32px;
  font-weight: 300;
  font-style: normal;
  white-space: nowrap;
}
.price-page.thumbnail-section .thumbnail-row .thumbnail-card .thumbnail .caption .parts .part .part-icon {
  vertical-align: middle;
  margin-right: 7px;
  margin-left: -5px;
}
.price-page.thumbnail-section .thumbnail-row .thumbnail-card .thumbnail .caption .parts .part.is-part {
  color: #223f67;
}
.price-page.thumbnail-section .thumbnail-row .thumbnail-card .thumbnail .caption .parts .part.is-part .part-icon {
  color: #28b25f;
}
.price-page.thumbnail-section .thumbnail-row .thumbnail-card .thumbnail .caption .parts .part.not-part {
  color: #a3a3a3;
}
.price-page.thumbnail-section .thumbnail-row .thumbnail-card .thumbnail .caption .parts .part.not-part .part-icon {
  color: #afafaf;
  font-weight: 800;
}
.price-page.thumbnail-section .thumbnail-row .thumbnail-card .thumbnail .img-thumbnail-pawn {
  display: none;
  position: absolute;
  bottom: 15px;
  right: 2px;
}
.price-page.thumbnail-section .thumbnail-row .thumbnail-card.active .thumbnail .caption .header {
  background-color: #fdc011;
  color: white;
}
.price-page.thumbnail-section .thumbnail-row .thumbnail-card.active .thumbnail .caption .year-price {
  color: #ed2584;
}
.price-page.thumbnail-section .thumbnail-row .thumbnail-card.active .thumbnail .caption .btn-thumbnail {
  background-color: #ed2584;
}
.price-page.thumbnail-section .thumbnail-row .thumbnail-card.active .thumbnail .caption .btn-thumbnail:hover {
  background-color: #c91f70;
}
.price-page.thumbnail-section .thumbnail-row .thumbnail-card.active .thumbnail .img-thumbnail-pawn {
  display: block;
}
.price-page.detail-section .btn-details {
  font-size: 14px;
  line-height: 24px;
}
.price-page.detail-section .btn-details .arrow {
  width: 13px;
  height: 13px;
  display: inline-block;
  position: relative;
  bottom: -5px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  margin-top: 2px;
  text-align: left;
  float: right;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  left: 0;
  margin-left: 10px;
}
.price-page.detail-section .btn-details .arrow:before,
.price-page.detail-section .btn-details .arrow:after {
  content: "";
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  background-color: transparent;
  width: 3px;
  height: 10px;
  display: inline-block;
  position: absolute;
  border-bottom: 10px solid white;
  top: 0;
  left: 0;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.price-page.detail-section .btn-details .arrow:before {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.price-page.detail-section .btn-details .arrow:after {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 0px;
  left: 5px;
  position: absolute;
}
.price-page.detail-section .btn-details.active .arrow {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.price-page.detail-section .btn-details.active .arrow:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.price-page.detail-section .btn-details.active .arrow:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.price-page.detail-section .table {
  margin-bottom: 0;
}
.price-page.detail-section .table td,
.price-page.detail-section .table th {
  padding: 17px 0 14px 0;
  color: #223f67;
}
.price-page.detail-section .table td {
  border-color: #e6e6e6;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  padding: 17px 0 14px 0;
}
.price-page.detail-section .table tr:last-child {
  border-bottom: solid 1px #e6e6e6;
}
.price-page.detail-section .table.main-table th {
  font-size: 24px;
  font-family: bariol_regularregular;
  color: #223f67;
  border-bottom: none;
}
.price-page.detail-section .table.main-table tr:nth-of-type(1) td {
  border-top: none;
}
.price-page.detail-section .table.secondary-table thead > tr > th {
  cursor: pointer;
  border-bottom: none;
  font-weight: 600;
}
/*******************************************************
****************** PRICE PAGE END **********************
********************************************************/
/***** FOOTER  *****/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 285px;
  background-color: white;
  padding-top: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
footer .footer-title-list {
  color: #223f67;
  line-height: 48px;
  font-weight: 600;
}
@media (max-width: 767px) {
  footer .footer-title-list {
    line-height: 32px;
  }
}
footer .footer-list-element {
  color: black;
  line-height: 38px;
  font-weight: 300;
}
@media (max-width: 767px) {
  footer .footer-list-element {
    line-height: 28px;
  }
}
footer .facebook-link {
  display: block;
  padding-top: 86px;
}
footer .facebook-link .facebook-cubic-icon {
  background-image: url("../img/facebook-sq.png");
  height: 36px;
  width: 36px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 25px;
}
@media (max-width: 767px) {
  footer .facebook-link {
    text-align: center !important;
    padding-top: 0;
  }
}
footer .bottom-line {
  border-top: 1px #f0f1f4 solid;
  font-size: 13px;
  line-height: 48px;
  color: #7a7a7a;
  font-weight: 300;
  margin-top: 24px;
}
@media (max-width: 991px) {
  footer {
    font-size: 12px !important;
  }
}
@media (max-width: 767px) {
  footer .footer-list {
    text-align: center;
  }
  footer .footer-list:not(:first-child) {
    padding-top: 30px;
  }
}
/***** FOOTER END **/
/***** Classes special  ****/
.vertical-centered-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-block {
  float: right;
}
.left-block {
  float: left;
}
.full-width {
  width: 100%;
}
.font-bariol {
  font-family: 'bariol_regularregular';
}
/*** MODALS ***/
.modal-dialog {
  border-radius: 5px;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 700px;
    margin: 80px auto;
  }
}
@media (max-width: 767px) {
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 60px;
  }
}
.modal-dialog .modal-header,
.modal-dialog .modal-footer {
  border: none;
}
.modal div.modal-body {
  padding: 0px 20px 20px 20px;
  margin-bottom: 50px;
}
.modal div.modal-body input {
  font-size: 16px;
  line-height: 24px;
  padding: 18px 20px 18px 50px;
  height: auto;
  border-radius: 5px;
}
.modal div.modal-body input::-webkit-input-placeholder {
  color: #7a7a7a;
}
.modal div.modal-body input:-moz-placeholder {
  /* Firefox 18- */
  color: #7a7a7a;
}
.modal div.modal-body input::-moz-placeholder {
  /* Firefox 19+ */
  color: #7a7a7a;
}
.modal div.modal-body input:-ms-input-placeholder {
  color: #7a7a7a;
}
.modal div.modal-body input[type=submit] {
  padding-left: 20px;
  width: 100%;
  margin-top: 20px;
}
.modal div.modal-body p {
  text-align: center;
}
.modal div.modal-body p a {
  color: #333333;
}
.modal div.modal-body p a:focus {
  color: black;
  text-decoration: underline;
}
.modal div.modal-body .err-msg {
  color: #b22828;
}
.modal div.modal-body .err-msg .fa {
  color: #b22828;
  font-size: 14px;
}
.modal .fa {
  font-size: 24px;
  margin: 8px;
  color: #7a7a7a;
  z-index: 20000;
}
.modal .fa-lock {
  padding-left: 15px;
}
#registerModal input[type=submit] {
  margin-top: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
#registerModal input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* enable absolute positioning */
.inner-addon {
  position: relative;
  margin-top: 13px;
}
.inner-addon h1 {
  margin-bottom: 40px;
  text-align: center;
}
/* style glyph */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
/* align glyph */
.left-addon .fa {
  left: 0px;
}
.right-addon .fa {
  right: 0px;
}
/* add padding  */
.left-addon input {
  padding-left: 30px;
}
/*** MODALS ***/
.form-control:focus {
  border-color: #223f67;
  outline: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}
